@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;

}

body {
    width: 100vw;
    height: 100vh;
}

.bar {
    background-color: black;

    width: 100%;
    height: 1vh;
}

.barObject {

    height: 1vh;
    background-color: red;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1%;
}

.sequencePrompt {
    display: flex;
    justify-content: center;

    gap: 5px;
}

.playground {
    width: 80vh;
    height: 80vh;

    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;

    width: 60vh;
    height: 60vh;
    background-color:blue;

    /* background-color: #ffffff30; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);




}


.square {
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: 0px;
    width: 1vh;
    height: 1vh;


}

.snake {
    background-color: green;
}

.head {
    font-size: larger;
}

.head,
.tail {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Courier New', Courier, monospace;
}

.tail {
    transform: rotate(90deg);
}

.transistion {
    transition: background 0.8s ease-in-out;
}

.block {
    font-family: 'Roboto';
    font-weight: bolder;

    border: 2px aliceblue solid;
    color: #303030;
}

.prompt {
    background-color: yellow;
    padding: 1%;
    font-size: larger;
    border-radius: 6px;
    margin: 1%;

    border: 2px solid black;
}